@import '../../abstracts/mixins';
@import '../../../scss/helpers/variables.scss';

.main-header-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    background-color: $theme-charcoal;
    margin: 0px;
    padding: 2px;
    box-sizing: border-box;
    .header-button {
        margin: 10px;
        align-self: flex-end;
        font-family: $base-font;
        justify-items: center;
        height:50px;
        width:100px;
        border-radius: 5px;
        border: black solid;
        background-color: $theme-dark-pink;
        cursor: pointer;
        &:hover {
            @include transition(.4s);
            background-color: $theme-light-pink;
        }
    }
}