// Main theme colours of the wensite

$theme-dark-pink: #F77FBE;
$theme-light-pink: #FF99CC;
$theme-charcoal: #4C454C;
$theme-black: #000000;

//PinkBerry Gum theme

$pb-pink:#f74464 ;
$pb-navy-dark:#374258;
$pb-navy-light:#6a7285;
$pb-grey: #c4c4c4;
$pb-white:#f3f3f3;
// freeze
$Maximum-Blue-Green: #16bac5;
$Maya-Blue:#5fbff9;
$Magnolia:#efe9f4;
$Dark-Jungle-Green:#171d1c;
$Neon-Blue:#5863f8;

/// fonts
$roboto-Regular: 'robotoregular';
$base-font: "Courier New", Courier, monospace;